
/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;0,900;1,400&family=Orbitron:wght@400;500;600;700;900&display=swap');
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*setting the main parameters for styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`*/
/*the main body styling*/
body {
    /*background-image: url("../assets/images/abstract.png");*/
    /*background-image: linear-gradient(to bottom right, #2f80ff, #ffda64);*/
    background-image: url("https://i.imgur.com/RLVWQ8L.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*styling for the headers*/
#header {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    text-shadow: 1px 2px 3px #000000;
    letter-spacing: 1px;
    font-size: 3rem;
    font-family: 'Orbitron', sans-serif;
    mix-blend-mode: overlay;
    background: rgba(0,0,0,.5);
    box-shadow: 0 2px 10px rgba(0,0,0,1);
    padding: 5px 10px;
    user-select: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*centering the search area*/
.search {
    text-align: center;
    margin: 30px 30px;
    border-bottom: 5px #000000;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`*/
/*styling for the search bar*/
#citySearch {
    text-align: center;
    padding: 5px 10px;
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    outline: none;
    color: lightpink;
    background-color: rgba(255, 255, 255, 0.25);
    mix-blend-mode: inherit;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*style for the placeholder text*/
::placeholder {
    color: palevioletred;
    opacity: 1;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
}

/*search button styling*/
#searchButton {
    margin-left: 3px;
    padding: 5px 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    color: white;
    border-radius: 20px;
    border: none;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#searchButton:hover {
    color: #5bd3c7;
    text-shadow: 1px 2px 3px #000000;
    padding: 5px 15px;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
}

/*search section styling ends*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*weather block information styles start*/
.weather_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*hiding the scrollbar*/
.weather_info::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}

#weatherSummary {
    text-transform: capitalize;
    color: white;
    text-shadow: 1px 2px 3px #000000;
    font-size: 1.5rem;
}

#cityName {
    text-transform: capitalize;
    color: white;
    text-shadow: 1px 2px 3px #000000;
    font-size: 2rem;
    text-decoration: underline;
    margin: 5px;
    letter-spacing: 1px;
}

#temp_label {
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 2px 3px #000000;
}

#temp_now {
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 2px 3px #000000;
}

/*weather block information styling ends*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*weather information styles for 6 days begins*/
#days-container {
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*general div styling*/
div {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    background: rgba(0,0,0,.5);
    width: 200px;
    height: 190px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 2px 3px #000000;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    margin: 0 8px;
}

div, p {
    text-align: center;
    padding: 8px 10px;
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 1px;
}


img {
    position: relative;
}
/*weather information styles for 6 days ends*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*styling for footer begins*/
footer {
    margin-top: auto;
    background: rgba(0,0,0,.5);
    box-shadow: 0 -2px 10px rgba(0,0,0,1);
}

nav ul {
    overflow: hidden;
    color: #ffffff;
    padding: 0;
    text-align: center;
    margin: 0;
    -webkit-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}

/*setting style for all links*/
a {
    text-decoration: none;
    color: inherit;
    transition: all 0.5s;
    margin:0;
    padding:10px;
    border-radius: 10px;
    font-size:20px;
    text-transform:capitalize;
    font-family: 'Orbitron', sans-serif;
    position:relative;
    letter-spacing: 1px;
}

a:hover{
   color: #5bd3c7;
    font-size: 25px;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    text-shadow: 1px 2px 3px #000000;
}
/*styling for footer ends*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*styles for about main content section */
.main-content{
    display: block;
    margin-left:auto;
    margin-right:auto;
    background-color: rgba(0,0,0,.5);
    border-radius: 30px;
    width: auto;
    height: auto;
    margin-top: 100px;

}

.main-content p {
    color: palevioletred;
    text-transform: none;
    text-shadow: 1px 2px 3px #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1px;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`*/
/*styles for contact form*/
.contact-form-box {
    background-color: rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
    width: 350px;
    height: 450px;
    border-radius: 30px;
}


#contact-me{
    text-align: center;
    padding: 10px 10px;
    color: #fff;
    mix-blend-mode: overlay;
    text-transform: capitalize;
    font-family: "Orbitron", sans-serif;
    text-shadow: 1px 2px 10px #000000;
    letter-spacing: 1px;
    user-select: none;
}

/*form placeholder style*/
.contact-form ::placeholder {
    color: palevioletred;
}

/*centering the form elements*/
.contact-form {
    display:flex;
    flex-direction: column;
    align-items: center;
}

/*input name styles*/
#contact-name{
    padding: 8px 10px;
    border-radius: 10px;
    border: none !important;
    outline: none;
    margin: 4px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    background: rgba(0,0,0,.4);
    text-shadow: 1px 2px 3px #000000;
    box-shadow: 0 1px 3px #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/*email input styling*/
#contact-email{
    padding: 8px 10px;
    border-radius: 10px;
    border: none !important;
    outline: none;
    margin: 5px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-shadow: 1px 2px 3px #000000;
    box-shadow: 0 1px 3px #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
/*text area styling*/
#text-area{
    background: rgba(0,0,0,.4);
    padding: 10px 10px;
    border-radius: 10px;
    max-height: 200px;
    max-width:  200px;
    width: 200px;
    height: 200px;
    border: none !important;
    outline: none;
    margin: 5px;
    color: #5bd3c7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-shadow: 1px 2px 3px #000000;
    box-shadow: 0 1px 3px #000000;
}

/*hiding textarea scrollbar*/
#text-area::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}

/*sendButton style*/
#send-btn{
    width: 100%;
    padding: 8px 20px;
    border-radius: 10px;
    border: none !important;
    outline: none;
    margin: 4px;
    background: rgba(0,0,0,.4);
    transition: all 0.5s;
    color: palevioletred;
    box-shadow: 0 1px 3px #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#send-btn:hover{
    color: #5bd3c7;
    padding: 8px 25px;
    font-size: 20px;
    font-family: "Orbitron",sans-serif;
    text-shadow: 1px 2px 3px #000000;
    cursor: pointer;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Media Query section*/
@media only screen and (max-width: 768px) {
    body{
        background-attachment: fixed;
    }
    .weather_info {
        overflow-y: auto;
        scroll-behavior: smooth;
    }
    #header{
        font-size: 2.5rem;
    }
    #days-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    div {
        width: 180px;
        height: 150px;
        font-size: 15px;
        margin: 5px;
    }
    .main-content {
        margin-right: 5%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 1200px) {
    body{
        background-attachment: fixed;
    }
    .weather_info {
        overflow-y: auto;
        scroll-behavior: smooth;
    }
    #days-container {
        display: flex;
        flex-wrap: wrap;
    }
    div{
        width: 180px;
        height: auto;
        font-size: 15px;
        margin: 10px;
    }
}


